@use '../../scss/utils/functions'as fn;
@use '../../scss/global/colors'as *;
@use '../../scss/utils/fonts'as *;
@use '../../scss/utils/mixins'as *;

.navigation {

    .header {
        width: 100%;
        height: fn.rem(96);
        position: sticky;
        top: 0;

        @include view(1440px) {
            padding-top: fn.rem(40);
        }

        .nav {
            @include flexAd(row, 0, 0, center, space-between);
            padding-inline: 1.5rem;
            height: fn.rem(96);
            z-index: 10;

            @include view(768px) {
                column-gap: fn.rem(231);
                padding-right: 0;
            }

            @include view(1440px) {
                padding-left: fn.rem(55);
            }

            .navLists {
                @include flexAd(row, _, _, center, center);
                height: 100%;
                width: 100%;
                column-gap: fn.rem(37);
                max-width: fn.rem(850);
                text-align: center;
                background: rgba(151, 151, 151, 0.04);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(16.5px);
                -webkit-backdrop-filter: blur(16.5px);

                @include view-max(767px) {
                    @include flexAd(column, _, fn.rem(32), initial, initial);
                    position: fixed;
                    right: -100%;
                    top: 0;
                    background: rgba(0, 0, 0, 0.1);
                    transition: all .3s ease-in-out;
                    backdrop-filter: blur(fn.rem(50));
                    -webkit-backdrop-filter: blur(fn.rem(50));
                    height: 100vh;
                    width: fn.rem(254);
                    padding: fn.rem(140) 0 0 fn.rem(32);
                    font-family: $alt-font;
                    z-index: 10;
                }

                @include view(1440px) {
                    column-gap: fn.rem(48);
                }

                @include view(1600px) {
                    background: rgba(151, 151, 151, .001);
                }

                .lists {
                    @include flexAd(column, 0, 0, _, space-between);
                    height: 100%;

                    @include view-max(767px) {
                        height: initial;
                        align-items: flex-start;
                    }

                    &:hover .line {
                        background-color: $Basic-white;
                        opacity: .521;
                    }

                    .links {
                        display: flex;
                        column-gap: fn.rem(12);
                        color: $Basic-white;
                        font-size: fn.rem(17);
                        line-height: fn.rem(19);
                        letter-spacing: fn.rem(2.7);
                        font-weight: 200;
                        font-family: $alt-font;
                        opacity: .9;
                        height: 100%;


                        @include view(768px) {
                            font-size: fn.rem(16);
                            line-height: fn.rem(19.2);
                            letter-spacing: fn.rem(2.7);
                            font-weight: 200;
                        }

                        .position {
                            font-weight: 500;
                            opacity: 1;

                            @include view(768px) {
                                display: none;
                            }

                            @include view(1440px) {
                                display: flex;
                            }
                        }
                    }

                    .line {
                        width: 100%;
                        height: fn.rem(3);

                        @include view-max(767px) {
                            display: none;
                        }
                    }

                    .active~.line {
                        background-color: $Basic-white;
                        opacity: 1;
                    }

                }

                .close {
                    position: absolute;
                    top: fn.rem(34);
                    right: fn.rem(26.45);

                    @include view(768px) {
                        display: none;
                        position: initial;
                    }
                }

            }

            .navListActive {
                right: 0;
            }

            .ham {
                @include view(768px) {
                    display: none;
                }
            }

        }

    }
}