@use '../../scss/global/colors'as *;
@use '../../scss/utils/_mixins.scss'as *;
@use '../../scss/utils/functions'as fn;
@use '../../scss/utils/fonts'as *;

.destination {
    background-image: url(/public/images/destination/background-destination-mobile.jpg);
    @include background;

    @include view(428px) {
        background-image: url(/public/images/destination/background-destination-tablet.jpg);
    }

    @include view(1024px) {
        background-image: url(/public/images/destination/background-destination-desktop.jpg);
    }

    .destinationCover {
        margin-top: fn.rem(34);
        padding-inline: 1.5rem;
        @include flex(column, _, fn.rem(32));

        .desTitle {
            @include flexAd(_, fn.rem(18), _, _, center);
            text-align: center;
            text-transform: uppercase;
        }

        .desTitle span {
            opacity: .25;
        }

        .desContent {
            @include flexAd(column, _, fn.rem(26), center, center);

            .ContentTop {
                width: 100%;
                @include flexAd(_, _, _, center, center);

                .planet {
                    max-width: 50%;

                    @include view(1440px) {
                        max-width: 100%;
                    }
                }

            }

            .contentBottom {

                .desBtnContainer {
                    @include flex(column,_, fn.rem(20));

                    .desBtn {
                        @include flexAd(_, fn.rem(26), _, _, center);

                        .desButton {
                            @include flex(column, _, fn.rem(8));
                            color: $Text-color;

                            &:hover {
                                .desLine {
                                    background-color: $Basic-white;
                                    opacity: .5;
                                }
                            }

                            .desLine {
                                width: 100%;
                                height: 3px;
                            }

                            .desLineActive {
                                width: 100%;
                                height: 3px;
                                background-color: $Basic-white;
                            }

                        }

                        .btnActive {
                            color: $Basic-white;
                        }
                    }

                    .planetData{
                        
                        .desHeading{
                            padding-bottom: fn.rem(10);
                            font-weight: 100;
                        }
                    }
                }
            }
        }
    }
}