@use '../../scss/global/colors'as *;
@use '../../scss/utils/_mixins.scss'as *;

.home {
    background-image: url(/images/home/background-home-mobile.jpg);
    @include background;

    @include view(428px) {
        background-image: url(/images/home/background-home-tablet.jpg);
    }

    @include view(1024px) {
        background-image: url(/images/home/background-home-desktop.jpg);
    }
}